@import "compass/css3";

body {
    background-image: url(6.jpg); /* Путь к фоновому изображению */
     background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
   }

.calculate {
  width: 320px;
  height: 400px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;

  justify-content: flex-end; 
  align-items: flex-end;
  align-content: center;
 }

.key {
  background:#000;
  color:#fff;
  padding: 5px;
  width: 70px;
  height: 70px;
  margin: 5px;
  border-radius: 8px;
  font-size: 1.5em;
  cursor:pointer;
  outline:none;
  box-shadow: inset 5px 5px 5px #555;

}

.key:active {
    background:#000;
    color:#fff;
    font-size:26px;
    cursor:pointer;
    outline:none;
    box-shadow: inset 5px 5px 5px #555;
}

.main {
  border-style: solid;
  width: 320px;
  height: 490px;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  background: -webkit-linear-gradient(top, black, white);
  margin: auto;
  background-image: url(5.jpg); /* Путь к фоновому изображению */
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
}

#display{
  height: 50px;
  border-radius: 4px;
  width: 300px !important;
  padding: 5px;
  margin-bottom: 20px;
  display:block;
  font-family: sans-serif;
  text-align: right;
  border:2px;
  background:#3b3535;
  color:#fff;
  font-size:20px;
  outline: none;
  overflow: hidden;
  letter-spacing: 4px;
}

.result {
  width: 150px;
}

